{% extends "base.html" %}

{% block content %}
<h1 class="pb-4"> <i class="bi bi-person-circle" style="font-size: 40px;"></i> ADMINISTRADOR </h1>
        
        <div class="card p-4 ">
            <div class="container ">
                <div class="row justify-content-evenly ">
                    <div class="w-100 d-none d-block"></div>
                    <div class="col ">
                        <a href="{{ url_for('gestion_pacientes') }}" class="pb-2" style="text-decoration: none;">  
                            <div class="card text-white bg-secondary mb-3 text-center " style="min-width: 10rem; max-width: 12rem;">
                                <div class="card-header"><h5>Gestionar pacientes</h5></div>
                                <div class="card-body">
                                    <h5 class="card-title"><i class="bi bi-people-fill" style="font-size: 40px;"></i></h5>
                                    <p class="card-text"></p>
                                </div>
                            </div>
                        </a>
                    </div>
                    
                    <div class="col">
                        <a href="{{ url_for('gestion_enfermeros') }}" class="pb-2" style="text-decoration: none;">  
                            <div class="card text-white bg-secondary mb-3 text-center" style="min-width: 12rem; max-width: 12rem;">
                                <div class="card-header"><h5>Gestionar enfermeros</h5></div>
                                <div class="card-body">
                                <h5 class="card-title"><i class="bi bi-person-rolodex" style="font-size: 40px;"></i></h5>
                                <p class="card-text"></p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col">
                        <a href="{{ url_for('estadisticas') }}" class="pb-2" style="text-decoration: none;">  
                            <div class="card text-white bg-secondary mb-3 text-center" style="min-width: 12rem; max-width: 12rem;">
                                <div class="card-header"><h5>Ver <br> Estadísticas</h5></div>
                                <div class="card-body">
                                <h5 class="card-title"><i class="bi bi-bar-chart-line-fill" style="font-size: 40px;"></i></h5>
                                <p class="card-text"></p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col">
                        <a href="{{ url_for('datos_vacunatorio') }}" class="pb-2" style="text-decoration: none;">  
                            <div class="card text-white bg-secondary mb-3 text-center" style="min-width: 12rem; max-width: 12rem;">
                                <div class="card-header"><h5>Datos del vacunatorio</h5></div>
                                <div class="card-body">
                                <h5 class="card-title"><i class="bi bi-info-square-fill" style="font-size: 40px;"></i></h5>
                                <p class="card-text"></p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
