{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}

{% block content %}
    <h1><i class="bi bi-pin-map-fill" style="font-size: 40px;"></i> Asignar zonas</h1>
    <div class="row">
        <div class="card p-4 mt-3">
            <br>
            <div class="row">
                <div class="col">
                    <div class="card mb-3 text-center" style="min-width: 18rem; max-width: 18rem;">
                        <div class="card-header"><h6>Zona Terminal</h6></div>
                        <div class="card-body">
                            <h6 class="card-title">Enfermeros: {{ cant_enfermeros_por_zona[0]["cantidad"] }}/{{ total_enfermeros }}</h6>
                            <p class="card-text">Turnos para los sig. siete días: {% if cant_turnos_por_zona[0]["zona"] == "terminal" %}{{ cant_turnos_por_zona[0]["cantidad"] }} {% else %} 0 {% endif %}</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-3 text-center" style="min-width: 18rem; max-width: 18rem;">
                        <div class="card-header"><h6>Zona Municipalidad</h6></div>
                        <div class="card-body">
                            <h6 class="card-title">Enfermeros: {{ cant_enfermeros_por_zona[1]["cantidad"] }}/{{ total_enfermeros }}</h6>
                            <p class="card-text">Turnos para los sig. siete días: {% if cant_turnos_por_zona[1]["zona"] == "municipalidad" %}{{ cant_turnos_por_zona[1]["cantidad"] }} {% else %} 0 {% endif %}</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-3 text-center" style="min-width: 18rem; max-width: 18rem;">
                        <div class="card-header"><h6>Zona Cementerio</h6></div>
                        <div class="card-body">
                            <h6 class="card-title">Enfermeros: {{ cant_enfermeros_por_zona[2]["cantidad"] }}/{{ total_enfermeros }}</h6>
                            <p class="card-text">Turnos para los sig. siete días: {% if cant_turnos_por_zona[2]["zona"] == "cementerio" %}{{ cant_turnos_por_zona[2]["cantidad"] }} {% else %} 0 {% endif %}</p>
                        </div>
                    </div>
                </div>
            </div>
            
            
            <form action="" method="post" class="form">
                {{ form.csrf_token }}
                <br><br>
                <div class="row">
                    <div class="col-4">
                        {{ form.id_zona }}
                    </div>
                    <div class="col">
                        {{ form.enviar }}
                    </div>
                </div>
                
                 
                <br>
                <table class="table table-hover table-striped">
                    <thead class="table-dark">
                        <tr>
                            <th></th>
                            <th>Nombre</th>
                            <th>Zona</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for enfermero in enfermeros %}
                            <tr>
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="enfermeros-{{ enfermero.id }}-seleccionado" name="enfermeros-{{ enfermero.id }}-seleccionado">
                                        <input class="form-control" type="text" value="{{ enfermero.id }}" id="enfermeros-{{ enfermero.id }}-id_enfermero" name="enfermeros-{{ enfermero.id }}-id_enfermero" style="display: none;">
                                    </div>
                                </td>
                                <td>{{ enfermero.nombre }} {{ enfermero.apellido }}</td>
                                {% if enfermero.id_z == 1 %}
                                <td><span class="badge bg-primary">{{ enfermero.z_nombre | upper }}</span></td>
                                {% elif enfermero.id_z == 2 %}
                                <td><span class="badge bg-secondary">{{ enfermero.z_nombre | upper }}</span></td>
                                {% elif enfermero.id_z == 3 %}
                                <td><span class="badge bg-dark">{{ enfermero.z_nombre | upper }}</span></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                </table>
            </form>
        </div>
    </div>
    <br>
    <br><br>
{% endblock %}
