{% extends "base.html" %}
{% block content %}
    <h2>Cantidad de turnos cancelados por vacuna</h2>
    <div class="card p-4 ">
        <div class="container ">
            <div class="row justify-content-evenly ">
                <div class="col-md-6">
                    <dl class="row">
                        <dt class="col-sm-8">TOTAL DE TURNOS CANCELADOS </dt>
                        {% set total =  (cancelados_covid1 |length) + (cancelados_covid2 |length) + (cancelados_gripe |length) + (cancelados_fiebre_amarilla |length)%}
                        <dd id="total" class="col-sm-4">{{total}}</dd>
                    
                        <dt class="col-sm-8">COVID 1era DOSIS</dt>
                        <dd id="total_c1" class="col-sm-4">{{cancelados_covid1 | length}}</dd>
                        <dt class="col-sm-8">COVID 2da DOSIS</dt>
                        <dd id="total_c2" class="col-sm-4">{{cancelados_covid2 | length}}</dd>
                        <dt class="col-sm-8">GRIPE</dt>
                        <dd id="total_g"class="col-sm-4">{{cancelados_gripe | length}}</dd>
                        <dt class="col-sm-8">FIEBRE AMARILLA</dt>
                        <dd id="total_fa"class="col-sm-4">{{cancelados_fiebre_amarilla | length}}</dd>
                        <hr>
                        <div class="row ">
                            <h6>Aplicar filtro por fechas</h6>
                            <div clas="col">
                                Desde <input onchange="filterDataByDate()" type="date" id="startdate" class="form-control" style="width: 50%;">
                                Hasta <input onchange="filterDataByDate()" type="date" id="enddate" class="form-control" style="width: 50%;">
                            </div> 
                        </div>
                </div>
                <div class="w-100 d-none d-block"></div>
                <div class="col ">
                    <div>
                        <canvas id="cancelados_por_vacuna" style="max-height: 50vh;"></canvas>
                    </div> 
                </div>
                
                
                
                
            </div>
        </div>
    </div>

{% block scripts %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js" integrity="sha512-sW/w8s4RWTdFFSduOTGtk4isV1+190E/GghVffMA9XczdJ2MDzSzLEubKAs5h0wzgSJOQTRYyaz73L3d6RtJSg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    const labels = [
        'COVID 1era DOSIS',
        'COVID 2da DOSIS',
        'GRIPE',
        'FIEBRE AMARILLA',
    ];
    const datapoints = [{{cancelados_covid1 | length}},{{cancelados_covid2 |length}},  {{cancelados_gripe |length}}, {{cancelados_fiebre_amarilla |length}}];
    const data = {
        labels: labels,
        datasets: [{
                label: 'Vacunas por enfermedad',
            data: datapoints,
            backgroundColor: [
                'rgb(150, 205, 122)',
                'rgb(54, 162, 235)',
                'rgb(255, 99, 132)',
                'rgb(255, 205, 86)'
            ],
            hoverOffset: 4
            //borderColor: 'rgb(255, 99, 132)'
        }]
    };

    const config = {
        type: 'pie',
        data: data,
        options: {}
    };
</script>
<script>
    const myChart = new Chart(
      document.getElementById('cancelados_por_vacuna'),
      config
    );

    function filterDataByDate(){
        v1 = [{% for v in cancelados_covid1 %}"{{v["fecha"]}}",{% endfor %}];
        v2 = [{% for v in cancelados_covid2 %}"{{v["fecha"]}}",{% endfor %}];
        v3 = [{% for v in cancelados_gripe %}"{{v["fecha"]}}",{% endfor %}];
        v4 = [{% for v in cancelados_fiebre_amarilla %}"{{v["fecha"]}}",{% endfor %}];
        
        var desde = document.getElementById('startdate').value;
        var hasta = document.getElementById('enddate').value;
        
        console.log(hasta);
        console.log(v1,v2,v3);

        //desde to date
        if (desde){
            desde = new Date(desde);
        } else {
            desde = new Date("1970-01-01");
        }
        if (hasta){
            hasta = new Date(hasta);
        } else {
            hasta = new Date();
        }

        // filtra los datos por fecha
        var filtrado1 = v1.filter(function(v){
            let fecha = v.split("/");
            fecha = new Date(fecha[2] + '-' + fecha[1] + '-' + fecha[0]);
            return fecha >= desde && fecha <= hasta;
        });
        // filtra los datos por fecha
        var filtrado2 = v2.filter(function(v){
            let fecha = v.split("/");
            fecha = new Date(fecha[2] + '-' + fecha[1] + '-' + fecha[0]);
            return fecha >= desde && fecha <= hasta;
        });
        // filtra los datos por fecha
        var filtrado3 = v3.filter(function(v){
            let fecha = v.split("/");
            fecha = new Date(fecha[2] + '-' + fecha[1] + '-' + fecha[0]);
            return fecha >= desde && fecha <= hasta;
        });
        var filtrado4 = v4.filter(function(v){
            let fecha = v.split("/");
            fecha = new Date(fecha[2] + '-' + fecha[1] + '-' + fecha[0]);
            return fecha >= desde && fecha <= hasta;
        });

        myChart.config.data.datasets[0].data = [filtrado1.length, filtrado2.length, filtrado3.length, filtrado4.length];
        myChart.update();
        console.log(filtrado1.length + filtrado2.length + filtrado3.length + filtrado4.length);
        document.getElementById('total').innerHTML = (filtrado1.length + filtrado2.length + filtrado3.length + filtrado4.length);
        document.getElementById('total_c1').innerHTML = filtrado1.length;
        document.getElementById('total_c2').innerHTML = filtrado2.length;
        document.getElementById('total_g').innerHTML = filtrado3.length;
        document.getElementById('total_fa').innerHTML = filtrado4.length;
        
    }
</script>
      
{% endblock %}
{% endblock %}