{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}


{% block content %}
        <h1 class="pb-4">Enviar Emails</h1>
        
        <div class="card p-4 col-md-8">
            <div class="row justify-content-evenly ">
                <div class="col-md-12">
                    <dl class="row">
                        <dt class="col-sm-4">CANTIDAD DE EMAILS:</dt>
                        <dd class="col-sm-8">{{ cant }}</dd>
                      
                        <dt class="col-sm-4">LISTA:</dt>
                        
                        <dd class="col-sm-8">{% for turno in turnos_aprobados %}{{ turno["email"] }}<br>{% endfor %} </dd>
                                               
                      </dl>
                    <dl class="row">
                        {{ render_form(form) }}
                    </dl>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>        
    </div>
{% endblock %}