{% extends "base.html" %}
{% block content %}
<h1><i class="bi bi-bar-chart-line-fill" style="font-size: 40px;"> </i>Estadísticas</h1>
ACA VAN LAS DISTINTAS ESTADÍSTICAS QUE SE PUEDEN VER
<div class="card p-4 ">
    <div class="container ">
        <div class="row justify-content-evenly ">
            <div class="w-100 d-none d-block"></div>
            <div class="col">
                <a href="{{ url_for('vacunas_por_zona') }}" class="pb-2" style="text-decoration: none;">  
                    <button class="btn btn-secondary">Vacunas por zona</button>
                </a>
            </div>
            <div class="col ">
                <a href="" class="pb-2" style="text-decoration: none;">  
                    <button class="btn btn-secondary">Vacunas por tipo</button>
                </a>
            </div>
            <div class="col ">
                <a href="{{ url_for('vacunas_por_edad') }}" class="pb-2" style="text-decoration: none;">  
                    <button class="btn btn-secondary">Vacunas por edad</button>
                </a>
            </div>
        </div>
    </div>
    <div>
        <canvas id="myChart"></canvas>
     </div>
</div>

  

{% block scripts %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js" integrity="sha512-sW/w8s4RWTdFFSduOTGtk4isV1+190E/GghVffMA9XczdJ2MDzSzLEubKAs5h0wzgSJOQTRYyaz73L3d6RtJSg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        const labels = [
            'January',
            'February',
            'March',
            'April',
            'May',
            'June',
        ];

        const data = {
            labels: labels,
            datasets: [{
            label: 'Estadísticas',
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: [0, 10, 5, 2, 20, 30, 45],
            }]
        };

        const config = {
            type: 'line',
            data: data,
            options: {}
        };
    </script>
    <script>
        const myChart = new Chart(
          document.getElementById('myChart'),
          config
        );
    </script>
      
{% endblock %}
{% endblock %}