{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}

{% block content %}
    <div class="row">
        <div class="card p-4 mt-3">
            <h1 class="pb-4"> <i class="bi bi-person-lines-fill" style="font-size: 40px;"></i> Registro</h1>
            {{ render_form(form, form_type='horizontal', horizontal_columns=('lg', 2, 10)) }}
        </div>
    </div>
    <br>
    <br><br>
    
    <script>
        function validateNumber(){
            var z = document.forms[0]["dni"].value;
            if(!/^[0-9]+$/.test(z)){
                //alert("Solo caracteres numéricos");
                document.forms[0]["dni"].value = null;
            }
        }
        function validateChars(event){
            var n = document.forms[0]["nombre"].value;
            if(!/^[a-zA-Z]+$/.test(n)){
                document.forms[0]["nombre"].value = null;
            }
            var n = document.forms[0]["apellido"].value;
            if(!/^[a-zA-Z]+$/.test(n)){
                document.forms[0]["apellido"].value = null;
            }
        }
    </script>    
{% endblock %}
