{% extends "base.html" %}
{% block content %}
    <h2>Cantidad de vacunas aplicadas por edad</h2>
    <div class="card p-4 ">
        <div class="container ">
            <div class="row justify-content-evenly ">
                <div class="col-md-6">
                    <dl class="row">
                        <dt class="col-sm-8">TOTAL DE VACUNAS APLICADAS </dt>
                        {% set total =  (menores18 |length) + (entre18y60 |length) + (mayores60 |length)%}
                        <dd id="total" class="col-sm-4">{{total}}</dd>
                    
                        <dt class="col-sm-8">MENORES DE 18 AÑOS</dt>
                        <dd id="total_-18" class="col-sm-4">{{menores18 | length}}</dd>
                        <dt class="col-sm-8">ENTRE 18 y 60 AÑOS</dt>
                        <dd id="total_18-60" class="col-sm-4">{{entre18y60 | length}}</dd>
                        <dt class="col-sm-8">MAYORES DE 60 AÑOS</dt>
                        <dd id="total_+60"class="col-sm-4">{{mayores60 | length}}</dd>
                        <hr>
                        <div class="row ">
                            <h6>Aplicar filtro por fechas</h6>
                            <div clas="col">
                                Desde <input onchange="filterDataByDate()" type="date" id="startdate" class="form-control" style="width: 50%;">
                                Hasta <input onchange="filterDataByDate()" type="date" id="enddate" class="form-control" style="width: 50%;">
                            </div> 
                        </div>
                </div>
                <div class="w-100 d-none d-block"></div>
                <div class="col ">
                    <div>
                        <canvas id="vacunas_por_edad" style="max-height: 50vh;"></canvas>
                    </div> 
                </div>
                
            </div>
            <div class="row justify-content-evenly ">
                <div class="col">
                        <div>
                            <canvas id="vacunas_por_edad_z1" style="max-height: 25vh;"></canvas>
                        </div>
                </div>
                <div class="col">
                    <div>
                        <canvas id="vacunas_por_edad_z2" style="max-height: 25vh;"></canvas>
                    </div>
            </div><div class="col">
                <div>
                    <canvas id="vacunas_por_edad_z3" style="max-height: 25vh;"></canvas>
                </div>
            </div>
                
            </div>
        </div>
    </div>

{% block scripts %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js" integrity="sha512-sW/w8s4RWTdFFSduOTGtk4isV1+190E/GghVffMA9XczdJ2MDzSzLEubKAs5h0wzgSJOQTRYyaz73L3d6RtJSg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    const labels = [
        '<18',
        '18-60',
        '>60',
    ];
    const datapoints = [{{menores18 | length}},{{entre18y60 |length}},  {{mayores60 |length}}];
    const data = {
        labels: labels,
        datasets: [{
                label: 'Vacunas por edad',
            data: datapoints,
            backgroundColor: [
                'rgb(255, 99, 132)',
                'rgb(54, 162, 235)',
                'rgb(255, 205, 86)'
            ],
            hoverOffset: 4
            //borderColor: 'rgb(255, 99, 132)'
        }]
    };

    const datapoints_z1 = [{{zona1[0] | length}}, {{zona1[1] | length}}, {{zona1[2] | length}} ]
    const data_z1 = {
        labels: labels,
        datasets: [{
                label: 'Vacunas por edad',
            data: datapoints_z1,
            backgroundColor: [
                'rgb(255, 99, 132)',
                'rgb(54, 162, 235)',
                'rgb(255, 205, 86)'
            ],
            hoverOffset: 4
            //borderColor: 'rgb(255, 99, 132)'
        }]
    };

    const datapoints_z2 = [{{zona2[0] | length}}, {{zona2[1] | length}}, {{zona2[2] | length}} ]
    const data_z2 = {
        labels: labels,
        datasets: [{
                label: 'Vacunas por edad',
            data: datapoints_z2,
            backgroundColor: [
                'rgb(255, 99, 132)',
                'rgb(54, 162, 235)',
                'rgb(255, 205, 86)'
            ],
            hoverOffset: 4
            //borderColor: 'rgb(255, 99, 132)'
        }]
    };

    const datapoints_z3 = [{{zona3[0] | length}}, {{zona3[1] | length}}, {{zona3[2] | length}} ]
    const data_z3 = {
        labels: labels,
        datasets: [{
                label: 'Vacunas por edad',
            data: datapoints_z3,
            backgroundColor: [
                'rgb(255, 99, 132)',
                'rgb(54, 162, 235)',
                'rgb(255, 205, 86)'
            ],
            hoverOffset: 4
            //borderColor: 'rgb(255, 99, 132)'
        }]
    };

    const config = {
        type: 'pie',
        data: data,
        options: {}
    };

    const config_z1 = {
        type: 'pie',
        data: data_z1,
        options: {}
    };

    const config_z2 = {
        type: 'pie',
        data: data_z2,
        options: {}
    };

    const config_z3 = {
        type: 'pie',
        data: data_z3,
        options: {}
    };


</script>
<script>
    const myChart = new Chart(
      document.getElementById('vacunas_por_edad'),
      config
    );

    const myChart_z1 = new Chart(
      document.getElementById('vacunas_por_edad_z1'),
      config_z1
    );

    const myChart_z2 = new Chart(
      document.getElementById('vacunas_por_edad_z2'),
      config_z2
    );

    const myChart_z3 = new Chart(
      document.getElementById('vacunas_por_edad_z3'),
      config_z3
    );

    function filterDataByDate(){
        v1 = [{% for v in menores18 %}"{{v['fecha']}}",{% endfor %}];
        v2 = [{% for v in entre18y60 %}"{{v['fecha']}}",{% endfor %}];
        v3 = [{% for v in mayores60 %}"{{v['fecha']}}",{% endfor %}];

        
        var desde = document.getElementById('startdate').value;
        var hasta = document.getElementById('enddate').value;
        
        
        console.log(v1,v2,v3);

        //desde to date
        if (desde){
            desde = new Date(desde);
        } else {
            desde = new Date("1970-01-01");
        }
        if (hasta){
            hasta = new Date(hasta);
        } else {
            hasta = new Date();
        }

        // filtra los datos por fecha
        var filtrado1 = v1.filter(function(v){
            let fecha = v.split("/");
            fecha = new Date(fecha[2] + '-' + fecha[1] + '-' + fecha[0]);
            return fecha >= desde && fecha <= hasta;
        });
        // filtra los datos por fecha
        var filtrado2 = v2.filter(function(v){
            let fecha = v.split("/");
            fecha = new Date(fecha[2] + '-' + fecha[1] + '-' + fecha[0]);
            return fecha >= desde && fecha <= hasta;
        });
        // filtra los datos por fecha
        var filtrado3 = v3.filter(function(v){
            let fecha = v.split("/");
            fecha = new Date(fecha[2] + '-' + fecha[1] + '-' + fecha[0]);
            return fecha >= desde && fecha <= hasta;
        });

        console.log(filtrado1, filtrado2, filtrado3);
        myChart.config.data.datasets[0].data = [filtrado1.length, filtrado2.length, filtrado3.length];
        myChart.update();
        console.log(filtrado1.length + filtrado2.length + filtrado3.length);
        document.getElementById('total').innerHTML = (filtrado1.length + filtrado2.length + filtrado3.length);
        document.getElementById('total_-18').innerHTML = filtrado1.length;
        document.getElementById('total_18-60').innerHTML = filtrado2.length;
        document.getElementById('total_+60').innerHTML = filtrado3.length;
        
    }
</script>
      
{% endblock %}
{% endblock %}