{% from 'bootstrap5/nav.html' import render_nav_item %}
{% from 'bootstrap5/utils.html' import render_messages %}

<!doctype html>
<html>
    <head>
      {% if titulo %}
      <title>{{ titulo }} - Vacunassist</title>
      {% else %}
      <title>¡Bienvenido a Vacunassist</title>
      {% endif %}

      <link rel="shortcut icon" href="{{ url_for('static', filename='/images/favicon.ico') }}" type="image/x-icon">
      <link rel="icon" href="{{ url_for('static', filename='/images/favicon.ico') }}" type="image/x-icon">

      {{ bootstrap.load_css() }}
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
      <link rel="stylesheet" href="./static/accordion.css">
      <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">
    </head>
    <body class="d-flex flex-column min-vh-100 bg-light">

      <nav class="navbar navbar-expand-md navbar-light shadow-sm"  style="background-color: rgb(150, 205, 122); padding-left: 10%; padding-right: 10%;">
        <div class="container-fluid">
          <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav me-auto">
              {% if session["dni"] and session["tipo"] == 1%}
                {{ render_nav_item('index', 'Reservar turno') }}
                {{ render_nav_item('mis_turnos', 'Mis turnos') }}
                {{ render_nav_item('mis_vacunas', 'Mis vacunas', use_li=True) }}
              {% elif session["dni"] and session["tipo"] == 2%}
                {{ render_nav_item('turnos_del_dia', 'Turnos del dia') }}
              {% endif %}
            </ul>
          </div>
          <div class="mx-auto order-0">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".dual-collapse2">
              <span class="navbar-toggler-icon"></span>
            </button>
            {% if session["dni"] and session["tipo"] == 1%}
              <a class="navbar-brand mx-auto" href="{{ url_for('index') }}" target=""><img src="{{ url_for('static', filename='/images/Logo_VacunAssist_largo.png') }}" alt="Logo_VacunAssist"></a>
            {% elif session["dni"] and session["tipo"] == 2%}
              <a class="navbar-brand mx-auto" href="{{ url_for('turnos_del_dia') }}" target=""><img src="{{ url_for('static', filename='/images/Logo_VacunAssist_largo.png') }}" alt="Logo_VacunAssist"></a>
            {% elif session["dni"] and session["tipo"] == 3%}
              <a class="navbar-brand mx-auto" href="{{ url_for('admin') }}" target=""><img src="{{ url_for('static', filename='/images/Logo_VacunAssist_largo.png') }}" alt="Logo_VacunAssist"></a>
            {% endif %}
          </div>
          <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ms-auto">
              {% if session["dni"] %}
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <div style="display: inline;">{{ session['nombre'] | upper }} {{ session['apellido'] | upper }}  <i class="bi bi-person-circle" style="font-size: 24px;"></i></div></a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          {% if session["tipo"]!= 3 %}
                            <li><a class="dropdown-item" href="{{ url_for('perfil')}}"><i class="bi bi-person-circle" style="font-size: 20px;"></i> Perfil</a></li>
                          {% endif %}
                          <li><a class="dropdown-item" href="{{ url_for('logout')}}"><i class="bi bi-door-closed-fill" style="font-size: 20px;"></i> Cerrar sesión</a></li>
                          <!--
                          <li><a class="dropdown-item" href="{{ url_for('perfil')}}">Perfil <i class="bi bi-person-circle" style="font-size: 20px; float: right;"></i></a></li>
                          <li><a class="dropdown-item" href="{{ url_for('logout')}}">Cerrar sesión <i class="bi bi-door-closed-fill" style="font-size: 20px; float: right;"></i></a></li>
                          
                          <li><a class="dropdown-item text-end" href="{{ url_for('perfil')}}"><i class="bi bi-person-circle" style="font-size: 20px; float: left;"></i> Perfil</a></li>
                          <li><a class="dropdown-item text-end" href="{{ url_for('logout')}}"><i class="bi bi-door-closed-fill" style="font-size: 20px; float: left;"></i> Cerrar sesión</a></li>
                          -->
                          
                        </ul>
                    </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>

      {% if session["dni"] and session["tipo"] == 3 %}
      <nav class="navbar navbar-expand-md navbar-light shadow-sm"  style="background-color: lightgray; padding-left: 10%; padding-right: 10%;">
        <div class="container-fluid">
          <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item me-3">
                <a class="nav-link" href="{{url_for('admin')}}" >Inicio</a>
              </li>            
                <li class="nav-item dropdown me-3">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <div style="display: inline;">Gestión de pacientes</div></a>
                    <ul class="dropdown-menu text-end" aria-labelledby="navbarDropdownMenuLink">
                      <li><a href="{{ url_for('ver_listado_pacientes') }}" class="dropdown-item">Listado de pacientes</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a href="{{ url_for('listado_pendientes_fiebre_amarilla') }}" class="dropdown-item">Solicitudes Fiebre Amarilla</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a href="{{ url_for('enviar_recordatorios') }}" class="dropdown-item">Enviar recordatorios</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown me-3">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <div style="display: inline;">Gestión de enfermeros</div></a>
                    <ul class="dropdown-menu text-end" aria-labelledby="navbarDropdownMenuLink">
                      <li><a href="{{ url_for('ver_listado_enfermeros') }}" class="dropdown-item">Listado de enfermeros</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a href="{{ url_for('registrar_enfermero') }}" class="dropdown-item">Registrar enfermero</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a href="{{ url_for('asignar_zona') }}" class="dropdown-item">Asignar zonas</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown me-3">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <div style="display: inline;">Estadísticas</div></a>
                    <ul class="dropdown-menu text-end" aria-labelledby="navbarDropdownMenuLink">
                      <li> <a href="{{ url_for('cancelados_por_vacuna') }}" class="dropdown-item">Turnos cancelados por vacuna</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="{{ url_for('vacunas_por_edad') }}">Vacunas aplicadas por edad</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="{{ url_for('vacunas_por_enfermedad') }}">Vacunas aplicadas por tipo</a></li>
                      
                    </ul>
                </li>
                <li class="nav-item me-3">
                  <a class="nav-link" href="{{url_for('datos_vacunatorio')}}" >Datos del vacunatorio</a>
                </li>
            </ul>
          </div>
        </div>
      </nav>
      {% endif %}

      <main class="container p-4">
        {{ render_messages(container=False, dismissible=True) }}
        {% block content %}{% endblock %}
      </main>

      <footer class="footer mt-auto py-3 bg-secondary">
        <div class="container">
          <div class="text-center">
            <small style="color: #fff;">
              Telefono: {{ session["telefono_vacunatorio"] }}
            </small>
          </div>
        </div>
      </footer>

      {{ bootstrap.load_js() }}
      {% block scripts %}{% endblock %}
    </body>
</html>