{% extends "base.html" %}

{% block content %}

<div class="row">
    <h1 class="pb-4">Bienvenido {{usuario["nombre"]}}</h1>

    <!-- TARJETA DE FIEBRE AMARILLA -->
    <div class="col-lg-4">
        <div class="card" style="width: 18rem;">
            <img src="{{ url_for('static', filename='/images/fiebre-amarilla.png') }} " class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Fiebre Amarilla</h5>
                <p class="card-text">La vacuna para la fiebre amarilla consiste en una única dosis para toda la vida. 
                                    No está indicada para mayores de 60 años. <br>
                                    El turno esta sujeto a confirmación por 
                                    parte del administrador
                                    <br>
                                    <br>
                                    <br>
                                    <br></p>
                {% if habilitar_fiebre_amarilla %}
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <a href="/sacar-turno/2"><button href="/sacar-turno/2" class="btn btn-success" type="button">Sacar turno</button></a>
                    </div>
                {% else %} <!-- boton desabilitado-->
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button href="" class="btn btn-success" type="button" disabled>Sacar turno</button>
                    </div>  
                {% endif %}
            </div>
        </div>
        <p></p>
    </div>
    <!-- TARJETA DE COVID -->
    <div class="col-lg-4">
        <div class="card" style="width: 18rem;">
            <img src="{{ url_for('static', filename='/images/covid.png') }} " class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">COVID</h5>
                <p class="card-text">La vacuna para COVID es obligatoria para mayores de 60 años y población de riesgo. 
                                    Consiste en 2 dosis con intervalo de 3 semanas. El turno es automático para la 
                                    segunda dosis.<br>
                                    Por cualquier motivo que no se pueda asistir al turno de la segunda dosis el turno quedará 
                                    a cargo del paciente</p>
                
                {% if habilitar_covid  %}
                    {% if tiene_covid1 %} <!-- Mandar id de vacuna de covid 2 en la ruta-->
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <a href="/sacar-turno/3"></a><button class="btn btn-success" type="button">Sacar turno</button></a>
                        </div>
                    {% else %}  <!-- Mandar id de vacuna covid 1 en la ruta -->
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <a href="/sacar-turno/4"><button  class="btn btn-success" type="button" >Sacar turno</button></a>
                        </div>
                        {% endif %}   
                {% else %} <!-- boton desabilitado-->    
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button href="" class="btn btn-success" type="button" disabled>Sacar turno</button>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- TARJETA DE GRIPE -->
    <div class="col-lg-4">
        <div class="card" style="width: 18rem;">
            <img src="{{ url_for('static', filename='/images/influenza.png') }} " class="card-img-top" alt="...">
            <div class="card-body" class="btn btn-success">
                <h5 class="card-title">Gripe</h5>
                <p class="card-text">La vacunas para la gripe consiste en 1 dosis por año y es obligatoria para mayores de 60. <br>
                                    La reserva del turno es siempre manual.
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                 </p>

                 {% if habilitar_gripe %}
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <a href="/sacar-turno/1"></a><button href="/sacar-turno/1" class="btn btn-success" type="button">Sacar turno</button></a>
                    </div>
                {% else %}
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button href="" class="btn btn-success" type="button" disabled>Sacar turno</button>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

    
{% endblock %}