{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
            <img src=" " class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Fiebre Amarilla</h5>
                <p class="card-text">La vacuna para la fiebre amarilla consiste en una única dosis para toda la vida. 
                                        No está indicada para mayores de 60 años. El turno esta sujeto a confirmación por 
                                        parte del administrador</p>
                
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-primary" type="button">Sacar turno</button>
                </div>
            </div>
        </div>
        <p></p>
    </div>
    <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
            <img src=" " class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">COVID</h5>
                <p class="card-text">La vacuna para COVID es obligatoria para mayores de 60 años y población de riesgo. 
                                    Consiste en 2 dosis con intervalo de 3 semanas. El turno es automático para la 
                                    segunda dosis.</p>
                
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-primary" type="button">Sacar turno</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
            <img src=" " class="card-img-top" alt="...">
            <div class="card-body" class="btn btn-primary">
                <h5 class="card-title">Gripe</h5>
                <p class="card-text">La vacunas para la gripe consiste en 1 dosis por año y es obligatoria para mayores de 60. 
                                    La reserva del turno es siempre manual.</p>
                <br>
                <br>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-primary" type="button">Sacar turno</button>
                </div>
            </div>
        </div>
    </div>
</div>

    
{% endblock %}