{% extends "base.html" %}

{% block content %}
    <h1 class="pb-4">{{ titulo }}</h1>
    {% if vacunas %}
        <div class="accordion accordion-flush card" id="accordionFlushExample" >
            {% for vacuna in vacunas %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-heading{{loop.index}}">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{loop.index}}" aria-expanded="false" aria-controls="flush-collapse{{loop.index}}">
                    <b>{{ vacuna["enfermedad"] | upper}}</b>
                    </button>
                    </h2>
                    <div id="flush-collapse{{loop.index}}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{loop.index}}" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <b> Fecha de aplicación:</b> {{ vacuna["fecha"] }} <br>
                            {% if vacuna["laboratorio"] == None %}
                                Sin datos<br>
                                <b>Vacuna administrada por fuera del vacunatorio.</b>
                            {% else %}
                                <b>Laboratorio:</b>   {{ vacuna["laboratorio"] }} <br>
                                <b>Lote:</b>  {{ vacuna["lote"] }} <br><br>
                                <a href="{{ url_for('pdf_template', id=vacuna.id) }}" target="_blank"><button type="button" class="btn btn-outline-secondary">Generar certificado <i class="bi bi-file-earmark-pdf-fill"></i></button></a>
                                
                            {% endif %}
                        </div> 
                    </div>
                </div>
            {% endfor %}
        </div>
        
        <!--<ul>
            {% for vacuna in vacunas %}
                <li>{{ vacuna["enfermedad"] }} {{ vacuna["fecha"] }}</li>
            {% endfor %}
        </ul>-->
        
    {% else %}
    <hr>
        <p>No tiene vacunas aplicadas.</p>
    {% endif %}
{% endblock %}