{% extends "base.html" %}

{% block content %}
    {% if usuario %}
        <h1 class="pb-4"><i class="bi bi-calendar-date-fill" style="font-size: 40px;"></i> Mis turnos</h1>
        
        {% if mis_turnos%} 
            <div class="row">
                {%for turno in mis_turnos%}
                    <div class="col-sm-4">
                        <div class="card" style="width: 18rem;">
                            <!-- <img src="..." class="card-img-top" alt="..."> -->
                            <div class="card-body">
                                <h5 class="card-title">Fecha: {{turno["fecha"]}}</h5>
                                <p class="card-text">Vacuna: {{turno["enfermedad"]}}</p>
                                <p class="card-text">Direccion: {{turno["direccion"]}}</p>
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop{{turno['id']}}">
                                    Cancelar turno
                                </button>
                                
                                <!-- Modal -->
                                <div class="modal fade" id="staticBackdrop{{turno['id']}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel">Confirmacion</h5>
                                        <!--<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
                                        </div>
                                        <div class="modal-body">
                                            ¿Estas seguro?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                            <a href="/cancelar-turno/{{turno['id']}}" class="btn btn-primary">Si</a>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p></p>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <hr>
            <p>No tiene turnos reservados.</p>
        {% endif %}
    {%endif%}
{% endblock %}