{% extends "base.html" %}

{% block content %}
    {% if usuario %}
        <h1>Mis turnos</h1>
        {% if mis_turnos%} 
            {%for turno in mis_turnos%}
                    <div class="card" style="width: 18rem;">
                        <!-- <img src="..." class="card-img-top" alt="..."> -->
                        <div class="card-body">
                        <h5 class="card-title">{{turno["enfermedad"]}}</h5>
                        <p class="card-text">{{turno["fecha"]}}</p>
                        <p class="card-text">{{turno["direccion"]}}</p>
                        <a href="#" class="btn btn-primary">Cancelar turno</a>
                        </div>
                    </div>
                    <p></p>
            {% endfor %}
        {% else %}
            <p>No tiene turnos reservados</p>
        {% endif %}
    {%endif%}
{% endblock %}