<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body> 
    <h1 >CERTIFICADO DE VACUNACIÓN</h1>

    <h3>NOMBRE Y APELLIDO: {{ usuario["nombre"] }} {{ usuario["apellido"] }}</h3>
    <h3>DNI: {{ usuario["dni"] }}</h3>
    <hr>
    <h3>VACUNA: {{ vacuna["enfermedad"] | upper }}</h3>
    <h3>LABORATORIO: {{ vacuna["laboratorio"] }}</h3>
    <h3>LOTE: {{ vacuna["lote"] }} </h3>
    <h3>FECHA DE APLICACIÓN: {{ vacuna["fecha"] }}</h3>
    <h3>VACUNATORIO: {{ vacuna["zona"] | capitalize}}</h3> 
    <hr>    
</body>
</html>
