{% extends "base.html" %}

{% block content %}
    {% if user_data['tipo'] == 1 %}
        <h1 class="pb-4"> <i class="bi bi-person-circle" style="font-size: 40px;"></i> {{ user_data['nombre'] | capitalize }} {{ user_data['apellido'] | capitalize }}</h1>
        
        <div class="card p-4 ">
            <div class="container ">
                <div class="row justify-content-evenly ">
                    <div class="col-md-6">
                        <dl class="row">
                            <dt class="col-sm-4">DNI</dt>
                            <dd class="col-sm-8">{{ user_data['dni'] }}</dd>
                          
                            <dt class="col-sm-4">E-MAIL</dt>
                            <dd class="col-sm-8">{{ user_data['email'] }}</dd>
                          
                            <dt class="col-sm-4">FECHA DE NACIMIENTO</dt>
                            <dd class="col-sm-8">{{ user_data['fecha_de_nacimiento']}}</dd>
                            
                          </dl>
                        <!--
                        <p><b>Dni: </b> {{ user_data['dni'] }} </p>
                        <p><b>E-mail:</b>  {{ user_data['email'] }}</p>
                        <p><b>Fecha de nacimiento:</b> {{ user_data['fecha_de_nacimiento']}}</p>
                        -->
                    </div>
                    <div class="w-100 d-none d-block"></div>
                    <div class="col ">
                        <a href="{{ url_for('mis_turnos') }}" class="pb-2" style="text-decoration: none;">  
                            <div class="card text-white bg-secondary mb-3 text-center " style="min-width: 10rem; max-width: 12rem;">
                                <div class="card-header"><h5>MIS TURNOS</h5></div>
                                <div class="card-body">
                                    <h5 class="card-title"><i class="bi bi-calendar-date-fill" style="font-size: 40px;"></i></h5>
                                    <p class="card-text"></p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col">
                        <a href="{{ url_for('mis_vacunas') }}" class="pb-2" style="text-decoration: none;">  
                            <div class="card text-white bg-secondary mb-3 text-center" style="min-width: 12rem; max-width: 12rem;">
                                <div class="card-header"><h5>MIS VACUNAS</h5></div>
                                <div class="card-body">
                                <h5 class="card-title"><i class="bi bi-clipboard2-pulse-fill" style="font-size: 40px;"></i></i></h5>
                                <p class="card-text"></p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row justify-content-evenly ">
                    <div class="col">
                        <a href="{{ url_for('cambiar_password') }}" class="pb-2"><button type="button" class="btn btn-outline-secondary btn-sm"><i class="bi bi-key-fill"></i> CAMBIAR CONTRASEÑA</button></a>
                        <br><br>
                        <!--Aca esta el modal sin boton para el eliminar cuenta -->
                        <a href="" data-bs-toggle="modal" data-bs-target="#staticBackdrop{{user_data['id']}}" class="pb-2">
                            <button type="button" class="btn  btn-outline-danger btn-sm"> <i class="bi bi-trash3-fill"></i>  ELIMINAR CUENTA</button></a>
                        </a>
                    </div> 
                </div>
            </div>
        </div>
        
        <!--
        <a href="{{ url_for('mis_turnos') }}" class="pb-2"><button type="button" class="btn btn-outline-secondary btn-sm"><i class="bi bi-calendar-date-fill" style="font-size: 13px;"></i>  MIS TURNOS</button></a>
        <br>
        <a href="{{ url_for('mis_vacunas') }}" class="pb-2"><button type="button" class="btn btn-outline-secondary btn-sm"><i class="bi bi-clipboard2-pulse-fill" style="font-size: 13px;"></i>  MIS VACUNAS</button></a>
        <br>
        -->
        
    </div>

    
        
        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop{{user_data['id']}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Confirmacion</h5>
                <!--<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
                </div>
                <div class="modal-body">
                    ¿Estas seguro que quiere eliminar tu cuenta?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                    <a href="/eliminar_cuenta/{{user_data['id']}}" class="btn btn-success">Si</a>
                </div>
            </div>
            </div>
        </div>

    {% endif %}
    {% if user_data['tipo'] == 2 %}
        <h1>Enfermero {{ user_data['nombre'] | capitalize }} {{ user_data['apellido'] | capitalize }}</h1>
        <p> Dni: {{ user_data['dni'] }}</p>
        <p>Zona Asignada: {{ user_data['id_zona'] }}</p>
    {% endif %}
    {% if user_data['tipo'] == 3 %}
        <h1>ADMIN</h1>
    {% endif %}
    
{% endblock %}