{% extends "base.html" %}

{% block content %}
    {% if user_data['tipo'] == 1 %}
        <h1>{{ user_data['nombre'] | capitalize }} {{ user_data['apellido'] | capitalize }}</h1>
        <hr>
        <p><b>Dni: </b> {{ user_data['dni'] }} </p>
        <p><b>E-mail:</b>  {{ user_data['email'] }}</p>
        <p><b>Fecha de nacimiento:</b> {{ user_data['fecha_de_nacimiento']}}</p>
        <a href="{{ url_for('mis_turnos') }}"><button type="button" class="btn btn-outline-secondary btn-sm"><i class="bi bi-calendar-date-fill" style="font-size: 13px;"></i>  MIS TURNOS</button></a>
        <br><br>
        <a href="{{ url_for('mis_vacunas') }}"><button type="button" class="btn btn-outline-secondary btn-sm"><i class="bi bi-clipboard2-pulse-fill" style="font-size: 13px;"></i>  MIS VACUNAS</button></a>
        <br><br>
        <a href="{{ url_for('cambiar_password') }}"><button type="button" class="btn btn-outline-secondary btn-sm"><i class="bi bi-key-fill"></i> CAMBIAR CONTRASEÑA</button></a>
        <br><br>
        <!--Aca esta el modal sin boton para el eliminar cuenta -->
        <a href="" data-bs-toggle="modal" data-bs-target="#staticBackdrop{{user_data['id']}}">
            <button type="button" class="btn btn-outline-secondary btn-sm"> <i class="bi bi-trash3-fill"></i>  ELIMINAR CUENTA</button></a>
        </a>
        
        
        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop{{user_data['id']}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Confirmacion</h5>
                <!--<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
                </div>
                <div class="modal-body">
                    ¿Estas seguro que quiere eliminar tu cuenta?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                    <a href="/eliminar_cuenta/{{user_data['id']}}" class="btn btn-primary">Si</a>
                </div>
            </div>
            </div>
        </div>

    {% endif %}
    {% if user_data['tipo'] == 2 %}
        <h1>Enfermero {{ user_data['nombre'] | capitalize }} {{ user_data['apellido'] | capitalize }}</h1>
        <p> Dni: {{ user_data['dni'] }}</p>
        <p>Zona Asignada: {{ user_data['id_zona'] }}</p>
    {% endif %}
    {% if user_data['tipo'] == 3 %}
        <h1>ADMIN</h1>
    {% endif %}
    
{% endblock %}