{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}

{% block content %}
    <div class="row">
        <div class="card p-4 mt-3">
            <h1 class="pb-4">Registro</h1>
            {{ render_form(form, form_type='horizontal', horizontal_columns=('lg', 2, 10)) }}
            <div class="row pt-2">
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    <button type="button" class="btn btn-secondary" id="add-vacunas-field">
                        <i class="fa fa-plus"></i> Agregar otra vacuna
                    </button>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br><br>
    
    <script>
        window.onload = function() {
            let addVacunasFieldBtn = document.getElementById('add-vacunas-field');
            addVacunasFieldBtn.addEventListener('click', function(e){
                e.preventDefault();
                let todasVacunasFieldWrapper = document.getElementsByTagName('fieldset')[0];
                let todasVacunasField = document.querySelectorAll('*[id^="vacunas-"]');
                if(todasVacunasField.length > 4) {
                    alert('Solo puede seleccionar 5 vacunas');
                    return;
                }
                let vacunasInputIds = []
                for(let i = 0; i < todasVacunasField.length; i++) {
                    vacunasInputIds.push(parseInt(todasVacunasField[i].name.split('-')[1]));
                }
                let newFieldName = `vacunas-${Math.max(...vacunasInputIds) + 1}`;
                todasVacunasFieldWrapper.insertAdjacentHTML('beforeend',`
                <div class="mb-3 row">
                <label class="col-form-label col-lg-2" for="${newFieldName}">¿Qué vacuna ya se aplicó?</label>
                <div class="col-lg-10">
                        <select class="form-control" id="${newFieldName}" name="${newFieldName}"><option value="">-</option><option value="covid1">Covid 1era dosis</option><option value="covid2">Covid 2da dosis</option><option value="fiebre_amarilla">Fiebre amarilla</option><option value="gripe">Gripe</option></select>
                </div></div>
                `);
            });
        }
    </script>    
{% endblock %}
