{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}

{% block content %}
    <h3 class=" text-end">{{ hoy }}</h3>
    <h1 class="text-end pb-5">ZONA {{ zona['nombre'] | upper }}</h1>
    <table id="data" class="table table-striped" data-order='[[ 0, "asc" ]]'>
        <thead>
        <tr>
            <th>Hora</th>
            <th>DNI</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Vacuna</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>

                {% for turno in turnos %}
                    
                    <tr>
                        <td>{{ turno['hora'] }}</td>
                        <td>{{ turno['dni'] }}</td>
                        <td>{{ turno['nombre'] }}</td>
                        <td>{{ turno['apellido'] }}</td>
                        <td>{{ turno['vacuna'] }}</td>
                        <td><button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdrop{{turno['id']}}">Ver detalle</button></td>
                        <td><button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#formualrioVacunaAplicada{{turno['id']}}" >Confirmar asistencia</button></td>
                    </tr>
                    
                {% endfor %}   
        </tbody>
    </table>

    <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#cancelarTodos">Cancelar todos</button>
    <!-- Modal Cancelar todos-->
    <div class="modal fade" id="cancelarTodos" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">Cancelar turnos del día</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              ¿Querés cancelar todos los turnos? <br>
              <small class="text-danger">Esta acción no podrá deshacerse.</small>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-success">Confirmar</button>
            </div>
          </div>
        </div>
    </div>

    <!-- Modal -->
    {% for turno in turnos %}
        <div class="modal fade" id="staticBackdrop{{ turno['id']}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">{{turno['nombre']}} {{ turno['apellido'] }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row justify-content-evenly ">
                        <div class="col-md-12">
                            <dl class="row">
                                <dt class="col-sm-6">DNI</dt>
                                <dd class="col-sm-6">{{ turno['dni'] }}</dd>
                              
                                <dt class="col-sm-6">Fecha de nacimiento</dt>
                                <dd class="col-sm-6">{{ turno['fecha_de_nacimiento'] }}</dd>
    
                                <dt class="col-sm-6">Paciente de riesgo COVID</dt>
                                {% if turno["paciente_de_riesgo"] == 1 %}
                                    <dd class="col-sm-6">SI</dd>
                                {% else %}
                                    <dd class="col-sm-6">NO</dd>
                                {% endif %}
                            </dl>
                            <hr>
                            
                            <ul class="list-group list-group-flush"><dt>Vacunas Aplicadas</dt>
                                
                            {% if vacunas_aplicadas[turno['dni']] %}
                                {% for vacuna in vacunas_aplicadas[turno['dni']] %}
                                    <li class="list-group-item">{{ vacuna['fecha']}} - {{ vacuna['enfermedad'] }} <br>
                                        {% if vacuna['laboratorio'] %} Laboratorio: {{ vacuna['laboratorio'] }} - Lote:{{ vacuna['lote']}}
                                        {% else %}Sin datos de aplicación.
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            {% else %}
                                <li class="list-group-item"> Sin vacunas registradas </li>
                            {% endif %}  
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
            </div>
        </div>
        <!-- Modal Confirmar asistencia-->
        <div class="modal fade" id="formualrioVacunaAplicada{{turno['id']}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Cargue los datos de la vacuna aplicada</h5>
                </div>
                <div class="modal-body">
                    <div class="row justify-content-evenly ">
                        <div class="col-md-14">
                            <!--{{ render_form(form, form_type='horizontal', horizontal_columns=('lg', 4, 8)) }}-->
                            
                            <form action="" method="post" class="form">
                                {{ form.csrf_token }}
                                <div class="mb-3 required">
                                {{form.id_usuario(value=turno['id_usuario'])}}
                                </div>
                                <div class="mb-3 required">
                                {{form.id_turno(value= turno['id'])}}
                                </div>
                                <div class="mb-3 required">
                                {{ form.vacuna.label }}
                                {{form.vacuna}}
                                </div>
                                <div class="mb-3 required">
                                {{ form.lote.label }}
                                {{form.lote}}
                                </div>
                                <div class="mb-3 required">
                                {{ form.laboratorio.label }}
                                {{form.laboratorio}}
                                </div>
                                <div class="mb-3 required">
                                {{ form.observaciones.label }}
                                {{form.observaciones}}
                                </div>
                                
                                <div class="modal-footer mx-auto">
                                    {{form.enviarse}}
                                    <button type="button" class="btn btn-secondary " data-bs-dismiss="modal">Cerrar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                
            </div>
            </div>
        </div>
    {% endfor %}
        <br><br>
    {% block scripts %}
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.js"></script>
    <script>
        $(document).ready(function () {
            table = $('#data').DataTable();
            table.destroy();
            
            $('#data').DataTable({
                        //paging: false,
                        //scrollY: 400,
                        columns: [
                        {searchable: false},
                        {orderable: false},
                        null,
                        null,
                        {searchable: false},
                        {sercheable: false, orderable:false},
                        {sercheable: false, orderable:false}],
                        "language": {
                            //"url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json",
                            "info": "Mostrando _START_-_END_ de _TOTAL_ turnos",
                            "lengthMenu": "Mostrar _MENU_ turnos por página",
                            "zeroRecords": "No se encontraron resultados",
                            "infoEmpty": "",
                            "search": "Buscar: ",
                            "infoFiltered": "(Filtrado de un total de _MAX_ turnos)",
                        }
                    });
            });
        </script>
    {% endblock %}
{% endblock %}