{% extends "base.html" %}


{% block content %}
    <h1 class="text-end pb-5">ZONA {{ zona['nombre'] | upper }}</h1>
    <table id="data" class="table table-striped" data-order='[[ 0, "asc" ]]'>
        <thead>
        <tr>
            <th>Hora</th>
            <th>DNI</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Vacuna</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>

                {% for turno in turnos %}
                    
                    <tr>
                        <td>{{ turno['hora'] }}</td>
                        <td>{{ turno['dni'] }}</td>
                        <td>{{ turno['nombre'] }}</td>
                        <td>{{ turno['apellido'] }}</td>
                        <td>{{ turno['vacuna'] }}</td>
                        <td><a href=""><button class="btn btn-success" >Confirmar asistencia</button></a></td>
                    </tr>
                    
                {% endfor %}

                
        </tbody>
    </table>
    <br><br>
    {% block scripts %}
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.js"></script>
    <script>
        $(document).ready(function () {
            table = $('#data').DataTable();
            table.destroy();
            
            $('#data').DataTable({
                        "language": {
                            //"url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json",
                            "info": "Mostrando _START_ a _END_ de _TOTAL_ turnos",
                            "lengthMenu": "Mostrar _MENU_ entradas por página",
                            "zeroRecords": "No se encontraron resultados",
                            "infoEmpty": "",
                            "infoFiltered": "(Filtrado de un total de _MAX_ entradas)",
                        }
                    });
            });
        </script>
    {% endblock %}
{% endblock %}